*{
  margin: 0;
  font-family: "Montserrat";
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}
:root{
  --color-primary: #FCD535;
  --fon-family: url('./asset/Montserrat-BlackItalic.otf')!important;
}

.fuente_global{
  font-family:url('./asset/Montserrat-BlackItalic.otf')!important;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.footer-login-mastery-leyenda-container{
  height: auto;
  position: absolute;
  width: 100%;
  left: 0;
}

.footer-login-mastery-leyenda-container img{
    margin-top: 22px;
   
    bottom: 0;
    width: 300px;

}

.container-logo-main{
 
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-logo-main img{
    width: 80px;
    height: auto;
}

.required{
  color:   #c0392b ;
  position: relative;
  top: -13px;
  font-family: var(--fon-family);
  text-align: left;
  padding-left: 20px;
  font-size: 12px;
  
 
}

.recordarme{
  font-family: var(--fon-family);
  display: flex;
  align-items: center;
  gap: 10px;
  color:  #909497 ;
}

.container-titulo-welcome{
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.container-welcome{
  padding: 0 0 0  70px;
  width: 90%;

}

.scuela-titulo-container-logo{
  font-family: var(--fon-family);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 4px;
  margin-left: 10px;
  word-wrap: break-word;
}

/* estilos de del menu */
.menu-logo{
  width: 118px;
  height: 126px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("./school/bg-btns-carrousel-stk.png");
  background-position: center;
  background-size: cover;
  border-radius: 0 0 20px 20px;
  position: relative;
  top: -10px;
}

.menu-options{
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--fon-family)  ;
  font-size: 18px;

  height: 100px;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.switch {
  display: inline-block;
  width: 40px;
  height: 20px;
  background-color: #ccc;
  border-radius: 20px;
  position: relative;
}

.switch-checkbox {
  display: none;
}

.switch-label {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
  transition: background-color 0.3s;
}

.switch-label::before {
  content: "";
  display: block;
  width: 50%;
  height: 100%;
  background-color:  #717d7e ;
  border-radius: 20px;
  transition: transform 0.3s;
}

.switch.checked {
  background-color: #4CAF50;
}

.switch.checked .switch-label {
  background-color: #4CAF50;
}

.switch.checked .switch-label::before {
  transform: translateX(100%);
}

/*select*/

.select{
 height: 100%;
 display: flex;
 justify-content: center;
 align-items: center;
}
.select select {
  

  width: 240px;
  height: 40px;
  border: none;
  color: white;
  border-radius: 3px;
  text-align: center;
  background-image: linear-gradient(to right,  #17202a ,  #17202a );
  
}
select:focus {
  outline: 2px solid #007bff; /* Estilo, grosor y color del borde de enfoque */
}

.select select option {
  width: 240px;
  height: 40px;
  border: none;
  color: white;
  border-radius: 3px;
  text-align: center;
  background-image: linear-gradient(to right,  #17202a ,  #17202a );
}

.img-text{
  width: 400px;
  height: 40px;
  background-position: center;
  background-size: cover;
}

/* EducatorsAndSchedules */

.EducatorsAndSchedules{
  background-image: url("https://d22yb2tbj8zopv.cloudfront.net/src/school/foreing_fl.png");
  background-position: center;
  background-size: cover;
  height: auto;
 
  width: 100vw;
}

.title-educators{

  font-size: 20px;
  font-weight: 900;
  color: white;
  margin-top: 30px;
}

.container-educators-top{

  width: 80%;

  margin: 10px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.selector-session-foreing{
 
  margin: auto ;
  
  max-width: 1600px;
  display: grid;
  grid-template-columns: 10% auto;
  gap: 10px;
}

.navbar-schedules{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 100px;
  padding-right: 100px;
  align-items: center;
}


.navbar-schedules img { 
  width: 120px;
}

.schedules-actions{
  display: flex;
  gap: 15px;
  justify-content: center;
  align-items: center;
}

.schedules-actions .schedules-select{
  display: flex;
  gap: 20px;
}

.schedules-actions .schedules-select select{
  padding: 10px;
  background-color: transparent;
  color: white;
  border: none;
  outline: none;
  font-size: 14px;
  font-weight: 500;
}


.schedules-actions .schedules-select select option{
  background-color: black;
}


.schedules-actions .schedules-select button{
  font-size: 14px;
  width: 140px;
  padding: 10px;
  border-radius: 50px;
  background-color: transparent;
  color: white;
  font-weight: 500;
  cursor: pointer;
}


.schedules-actions .schedules-select button{
  font-size: 14px;
  width: 140px;
  padding: 10px;
  border-radius: 50px;
  background-color: transparent;
  color: white;
  font-weight: 500;
  cursor: pointer;
}

.schedules-options{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-size: 25px;
  cursor: pointer;
}

.smart-money-title{
  padding: 50px;
}

.smart-money{
  display: flex;
  align-items: start;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}


.progress-section{
  width: 500px;
  height: 478px;
  border-radius: 10px;
  border: 1px solid black;
  padding: 10px;
  margin-bottom: 40px;
}

.progress-section p,  .progress-section h2{
  padding-left: 50px;

}
.progress-section h2{
  font-size: 40px;
}

.lessons-p{
  margin-bottom: 20px;
  text-align: left;
}

.bar-progress{
  margin-top: 50px;
  margin: 0 auto;
  background-color:#007bff;
  width: 400px;
  height: 20px;
  border-radius: 50px;
}










.progress-class-line{
  width: 5px;
  background-color: #007bff;
  height: 154px;
  position: absolute;
  left: 17px;
  top: 20px;
}



.custom-textarea {
  box-shadow: none;
  width: 500px; 
  height: 400px; 
  font-size: 16px;
  color: #000; 
  border: solid 1px #fff;
  resize: none; 
}

.smart-money-comments{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  margin-bottom: 30px;

}

.custom-textarea{
  width: 600px;
  height: 100px;
  border-radius: 20px;
 
  outline: none;
}

.smart-money-comments h2{
  margin-bottom: 50px;
  border-bottom: 2px solid #007bff;
}

.smart-money-comments button{

}


.individual-comment{
  margin-top: 20px;
  margin-bottom: 20px;
  position: relative;
  width: 700px;
}

.individual-comment-img{  
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #525f6d;
  align-items: end;
  position: absolute;
  left: -70px;
  top: 0px;
}

.date-commets p{
  font-size: 13px;
  color: #fff;
}

.options{
  
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
}
.options a{
  
  text-decoration: none;
}